<p id="notice"><%= notice %></p>

<div class="container"> 

<% if @articles.present? %>
  <%= render @articles, locals: {article_length: 140} %>
<% else %>
  <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
<% end %>

<br>
</div> 